@import './scss/theme.scss';
@import './scss/mixins.scss';

.wrapper-content {
    max-width: 1200px;
    margin: 0 auto;

    @include for-size(sm) {
        max-width: 90%;
    }
}



.comment {
    display: flex;

    &__item {
        display: flex;
        width: 300px;
        height: auto;
    }

    &__wrapper-img {
        width: 80px;        
    }
    &__img {
        width: 100%;
    }
}
